p{
    color: blue;
    font-size: 90px;
word-spacing: 19px
;
letter-spacing: 18px;
text-align:center
;}
h1
{
    font: size 136px;
color: black;
background-color: aliceblue;
border: 9px red solid;
line word-spacing: display: width: height: 9px ;;;
border-radius: 90px;}
 h1:hover {color: aqua;
letter-spacing :30px;
line-height: 10px;
}